.portfolio {
    column-count: 5;
    column-gap: 10px;
}

.item {
    opacity: 100%;
    transition: opacity 200ms;

    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    break-inside: avoid;
}

.item:hover {
    opacity: 70%;
}

.portfolio a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #dddddd;
}

.portfolio img,
.portfolio video {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .portfolio {
        column-count: 3;
    }
}

@media (max-width: 500px) {
    .portfolio {
        column-count: 2;
    }
}
