name: Jekyll site CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the site in the jekyll/builder container
      run: |
        docker run --rm -u 0 \
          -v ${{ github.workspace }}:/srv/jekyll \
          -w /srv/jekyll \
          jekyll/builder:latest \
          jekyll build --future
